.downloads .jumbotron {
    text-align:center;
}
.downloads .jumbotron .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 18px;
    background-color: rgba(0,0,0,0.2);
}
