.tech {
}

.tech-item {
    margin-bottom: 20px;
    box-shadow: 0px 0px 3px 1px #a5a5a5;
    border-radius: 4px;
    background-color: white;
}

.tech-item .tech-thumbnail img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.tech-item p {
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tech-item .tech-thumbnail {
    position:relative;
    display: block;
}

.tech-thumbnail > .tech-ribbon {
    position:absolute;
    bottom: 10px;
    right: 0px;
    padding: 0px 17px 0px 7px;
}

.tech-info {
    padding: 12px 8px 6px 16px;
}

.tech-item .tech-title {
    font-size: 18px;
}

.tech-creator {
    font-weight: bold;
}

.tech-stats {
    float: right;
    margin-right: 5px;
    font-weight: bold;
}

.tech-stats>span {
    margin-right: 10px;
}

.tech-stats .glyphicon {
    margin-right: 2px;
}

.tech-stats a {
    margin-right: 4px;
    padding: 1px 4px;
    color: #6d6d6d;
}

.tech-stats a:hover, .tech-stats a:active, .tech-stats a:visited, .tech-stats a:focus {
    text-decoration: none !important;
}

.tech-stats a.hearts:hover {
    color: #db0000;
}

.tech-stats a.subscriptions:hover {
    color: #db0000;
    color: #00db00;
}

.tech-stats a.subscribed {
    color: #019c01;
}

.tech-ribbon-green {
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 0px 7px;
    font-weight: bold;
    line-height: 20px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
}