<!--
<div class="container-fluid">
    <div class="jumbotron">
        <h1>List of techs</h1>
        <p>This is a list of the techs available on Nuterra</p>
    </div>
</div>
-->
{{#techs}}
    {{> tech}}
{{/techs}}
{{^techs}}
    <h1>There are no techs :(</h1>
{{/techs}}