.tech {
}

.tech-item {
    margin-bottom: 20px;
    box-shadow: 0px 0px 3px 1px #a5a5a5;
    border-radius: 4px;
    background-color: white;
}

.tech-item .tech-thumbnail img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.tech-item p {
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tech-item .tech-thumbnail {

}

.tech-info {
    padding: 12px 8px 6px 16px;
}

.tech-item .tech-title {
    font-size: 18px;
}

.tech-creator {
    font-weight: bold;
}

.tech-stats {
    float: right;
    margin-right: 5px;
    font-weight: bold;
}

.tech-stats>span {
    margin-right: 10px;
}

.tech-stats .glyphicon {
    margin-right: 2px;
}

.tech-stats a {
    margin-right: 4px;
    padding: 1px 4px;
    color: #6d6d6d;
}

.tech-stats a:hover, a:active, a:visited, :focus {
    text-decoration: none !important;
}

.tech-stats a.hearts:hover {
    color: #db0000;
}

.tech-stats a.downloads:hover {
    color: #00db00;
}